<% provide :title, "Sign up" %>
<h2>Sign up</h2>
<%= form_for @user, html: {class: "form-signin"} do |f| %>
  <%= render "fields", f: f %>
  <%= f.submit "Create my account", class: "btn btn-success" %>
<% end %>