<div class="form-group">
  <%= f.label :Name %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Input name...' %>
</div>
<div class="form-group">
  <%= f.label :Status %>
  <%= f.select :status, [['Active', 1], ['InActive', 0]], {}, class: 'form-control' %>
</div>
