<h2>Add new</h2>
<% if flash[:message] %>
  <p class="bg-danger"><%= flash[:message] %></p>
<% end %>
<%= form_for [:admin, @category] do |f| %>
  <%= render "fields", f: f %>
  <%= f.submit "Create", class: "btn btn-success" %>
<% end %>